body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* *** Navbar container *** */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A90E2;
    padding: 10px 20px;
}

/* Website icon */
.websiteIcon img {
    width: 50px;
}

/* Website name */
.websiteName h2 {
    color: #F9FAFB;
    margin-right: 20px;
}

/* Navigation links */
.navLinks a {
    color: #F9FAFB;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navLinks a:hover {
    text-decoration: underline;
}

/* Search section */
.searchBar input {
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.searchBar button {
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchBtn {
    background-color: #3498db;
    color: white;
}

.resetBtn {
    background-color: #e74c3c;
    color: white;
}

.searchBtn:hover {
    background-color: #6B7280;
}

.resetBtn:hover {
    background-color: #6B7280;
}

/* *** General page style *** */
.general {
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    padding: 20px;
}

/* Home page specific styles */
.bookBtn {
    padding: 6px 10px;
    margin-top: 50px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.bookBtn:hover {
    transform: scale(1.3);
}

.iconList {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.iconList img {
    width: 25px; 
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.iconList img:hover {
    transform: scale(1.3);
}

.iconList::before {
    content: "";
    width: 1px;
    height: 200px;
    background: white;
    margin: 0 auto;
    margin-bottom: 25px;
}

